body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:lightgray;
}

.container {
    position: relative;
    height: 100%;
}

.container h1 {
    text-align: center;
    background-color: rgb(63, 77, 77);
    margin-bottom: 20px; 
   margin-left: 45%;
   margin-right: 45%;
   border-radius: 10px;
   font-size: 25px;
   font-weight: 700px;
   box-shadow: 10px;
   color: lightgray;
   padding: 10px;
}

#searchInput, #searchButton {
    display: block;
    margin: 0 auto;
}

#weatherDisplay {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 5px;
    overflow: auto;
}

#flexContainer {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-forecast {
    text-align: center;
    border-right: 1px solid transparent;
    align-items: center;
    align-content: center;
}

.day-forecast:last-child {
    border-right: none; 
}

.hidden {
    display: none;
}

ul {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow:hidden;
    list-style-type: none;
    box-shadow: 10px;
    align-items: center;
    align-content: center;
}

li {
box-shadow: 10px;
margin-top: 10px;
background-color: rgb(95, 109, 109);
color: lightgray;
width: max-content;
padding: 50px;
border-radius: 14px;
text-align: center;

}

#cityName {
    text-align: center;
    color: lightgray;
    margin-top: 50px;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 10px;
}
